/* Common styles for all screen sizes */
.Container {
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  margin-bottom: 20px;
  background-image: url("../../assets/Home_Imgs/CareersLeft.svg"), url("../../assets/Home_Imgs/CareersRight.svg");
  background-position: left top, right top;
  background-repeat: no-repeat;
}

.H4 {
  text-align: center;
  padding-top: 50px; /* Adjusted padding */
  color: #508EFF;
  font-size: 2.5rem; /* Adjusted font size */
}

.H1 {
  text-align: center;
  padding-top: 10px;
  color: #253858;
  font-size: 2rem; /* Adjusted font size */
}

.Para {
  text-align: center;
  padding-top: 10px;
  line-height: 25px;
  color: #253858;
  font-size: 1.5rem; /* Adjusted font size */
}

.Button {
  display: block;
  margin: 20px auto 0;
  padding: 5px 10px; /* Adjusted padding */
  border-radius: 5px;
  background-color: #0047B3;
  color: white;
  border: transparent;
  font-size: 1.2rem; /* Adjusted font size */
  font-weight: 500;
}

.Wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.Image {
  width: 50vw; /* Adjusted width */
  height: auto;
  max-height: 400px; /* Adjusted max height */
}

/* Responsive styles for laptop screens */
@media only screen and (min-width: 1024px) {
  .Container {
      margin-bottom: 150px;
  }
}

/* Responsive styles for tablet screens */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .Container {
      margin-bottom: 120px;
  }
}

/* Responsive styles for mobile screens */
@media only screen and (max-width: 767px) {
  .Container {
      margin-bottom: 100px;
      background-position: center top, center top; /* Adjust background position for better display */
  }
  /* Additional adjustments for H4 */
  .H4 {
      padding-top: 30px; /* Adjusted padding */
      font-size: 2rem; /* Adjusted font size */
  }
}