/* Teamcards.css */
.main-container{
    background-color: rgb(174, 208, 243);
}
.team-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    width: 350px;
    margin: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    text-align: center;
}

.teamimage {
    display: flex;
    justify-content: center; /* Center horizontally */

}

.teamimage img {
    width: 220px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.member-details h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.member-details p {
    font-size: 14px;
    margin-bottom: 10px;
}

.member-details a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
}

@media (max-width: 768px) {
    .team-member {
        width: 100%;
    }
}