.fx{
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    gap: 1%; /* Adjust the gap between flex items */
    width: 80%; /* Adjust the width of the container */
    margin: auto;
  }
  .car {
    flex: 0 0 calc(30% - 1%); /* Set the width of each card to one-third of the container minus the gap */
    margin-bottom: 1%; /* Add margin between cards */
    padding: 10px;
    /* background-color:antiquewhite; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
  }
  @media (max-width: 1100px) {
    .car {
      flex: 0 0 calc(50% - 1%); /* Set the width of each card to one-half of the container on smaller screens */
      height: 200px;
    }
    .customer{
        flex-direction: column;
    }

  }

  
  @media (max-width: 700px) {
    .car {
      flex: 0 0 calc(100% - 1%); /* Set the width of each card to full width on smaller screens */
    }
    .customer{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .Maincon{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .text8{
        width: 100% !important;
    }
    .textRight{
        width: 100% !important;
    }
    .bo{
        flex-wrap: wrap;
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .rimg{
    height: 200px;
  }
  .text8{
    width: 60%;
    height: 100vh;
    overflow-y: scroll;
  }
  .textRight{
    width: 40%;
    right: 0%;
  }
  .rightScroll{
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
  }
  .Maincon{
    display: flex;
  }
  .FootPrice{
    display: flex;
    justify-content: space-between;
  }
  .bo{
    display: flex;
    gap: 2%;
    /* flex-wrap: wrap; */
  }
  .circle{
    border-radius: 5px;
    height: 40px;
    width: 100px;
    border: none;
    background-color: #00bfa5 ;
    /* margin-right: 10px; */
  }
  .smallimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .cartright{
    border: none;
    margin: 0px 20px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #00bfa5;
  }
  .img{
     height: auto;
  }