/* Career.css */

/* Common styles for all screen sizes */
.Container {
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    margin-bottom: 230px;
  }
  
  .H4 {
    text-align: center;
    padding-top: 100px;
    color: #508EFF;
  }
  
  .H1 {
    text-align: center;
    padding-top: 10px;
    color: #253858;
  }
  
  .Para {
    text-align: center;
    padding-top: 10px;
    line-height: 25px;
    color: #253858;
  }
  
  .Button {
    display: block;
    margin: 20px auto 0; /* Center the button horizontally */
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0047B3;
    color: white;
    border: transparent;
    font-size: medium;
    font-weight: 500;
  }
  
  .Wrap {
    display: flex;
    justify-content: center; /* Center images horizontally */
    gap: 20px;
    margin-top: 20px; /* Add margin to the top */
  }
  
  .Image {
    width: 40vw; /* Set width relative to viewport width */
    height: auto;
    max-height: 300px; /* Limit image height */
  }
  
  /* Responsive styles for laptop screens */
  @media only screen and (min-width: 1024px) {
    .Container {
      margin-bottom: 150px;
    }
  }
  
  /* Responsive styles for tablet screens */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Container {
      margin-bottom: 120px;
    }
  }
  
  /* Responsive styles for mobile screens */
  @media only screen and (max-width: 767px) {
    .Container {
      margin-bottom: 100px;
    }
    .H4 {
      padding-top: 50px;
    }
  }
  