.bottom-section-f8 {
  padding: 16px 0;
  clear: both;
  background-color: #f4f5f7;
}

.bottom-logo-altassian img {
  padding: 15px 35px;
  float: left;
  width: 200px;
}

.four-section-footer {
  padding-left: 200px;
}

.container-footer-section {
  width: 100%;
  padding: 0px 70px;
}

.plan-track-support-footer {
  float: left;
  background-color: #f4F5F7;
}

.class-last {
  width: 100%;
  color: #42526E;
  padding-right: 16px;
}

h3.bottom-heading {
  color: #42526E;
  margin-top: 0;
  font-size: 20px;
  letter-spacing: .3px;
  line-height: 1.2;
  font-weight: 700;
  padding-right: 180px;
  padding-bottom: 20px;
}

.bottom-class-link {
  display: block;
  color: #42526E;
  text-align: left;
  padding: 0;
  padding-right: 80px;
  text-decoration: none;
  font-size: 1.2rem;
}

.bottom-class-link-special {
  display: block;
  color: #0052CC;
  text-align: left;
  padding: 0;
  text-decoration: none;
  font-size: 1.2rem;
}

.horizontal-rule {
  clear: both;
  color: black;
  padding-top: 30px;
}

.end-footer {
  padding: 20px;
  background-color: #f4F5F7;
}

.float-left-leftmost {
  float: left;
  width: 80%;
  padding-left: 50px;
}

.float-left {
  float: left;
  width: 115px;
  white-space: nowrap;
}

.bottom-class-link-footer {
  display: block;
  color: #42526E;
  text-align: left;
  padding: 5px;
  text-decoration: none;
  font-size: .875rem;
}

.float-left-rightmost {
  background-color: #f4F5F7;
  float: left;
}

@media(min-width: 991.98px) and (max-width: 1366px) {
  .bottom-section-f8 {
    /* margin-top: -50px; */
    clear: both;
    background-color: #f4f5f7;
  }

  .bottom-logo-altassian img {
    padding: 10px 35px;
    float:left;
    width: 200px;
  }

  .four-section-footer {
    float: left;
  }

  .plan-track-support-footer {
    padding-left: 50px;
    background-color: #f4F5F7;
  }

  .class-last {
    width: 100%;
    color: #42526E;
    padding-right: 30px;
  }

  h3.bottom-heading {
    color: #42526E;
    margin-top: 0;
    font-size: 24px;
    letter-spacing: .3px;
    line-height: 1.2;
    font-weight: 700;
    padding-right: 10px;
  }

  .bottom-class-link {
    display: block;
    color: #42526E;
    text-align: left;
    padding: 0;
    text-decoration: none;
    font-size: 1.2rem;
    padding-right: 80px;
  }

  .bottom-class-link-special {
    display: block;
    color: #0052CC;
    text-align: left;
    padding: 0;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .horizontal-rule {
    clear: both;
    color: black;
    padding-top: 30px;
  }

  .end-footer {
    background-color: #f4F5F7;
  }

  .float-left-leftmost {
    float: left;
    width: 80%;
  }

  .float-left {
    float: left;
    width: 115px;
    white-space: nowrap;
  }

  .bottom-class-link-footer {
    display: block;
    color: #42526E;
    text-align: left;
    padding: 5px;
    text-decoration: none;
    font-size: .875rem;
  }

  .float-left-rightmost {
    background-color: #f4F5F7;
  }
}



@media(min-width: 767px) and (max-width: 991.98px) {
  .bottom-section-f8 {
    padding-left: 10px;
    clear: both;
    background-color: #f4f5f7;
  }

  .bottom-logo-altassian img {
    padding: 10px 35px;
    float:left;
    width: 200px;
  }

  .four-section-footer {
    float: left;
  }

  .plan-track-support-footer {
    padding-left: 50px;
    background-color: #f4F5F7;
  }

  .class-last {
    width: 100%;
    color: #42526E;
    padding-right: 30px;
  }

  h3.bottom-heading {
    color: #42526E;
    margin-top: 0;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 1.2;
    font-weight: 700;
    padding-right: 10px;
  }

  .bottom-class-link {
    display: block;
    color: #42526E;
    text-align: left;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
    padding-right: 80px;
  }

  .bottom-class-link-special {
    display: block;
    color: #0052CC;
    text-align: left;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
  }

  .horizontal-rule {
    clear: both;
    color: black;
    padding-top: 30px;
  }

  .end-footer {
    background-color: #f4F5F7;
  }

  .float-left-leftmost {
    float: left;
    width: 80%;
  }

  .float-left {
    float: left;
    width: 115px;
    white-space: nowrap;
  }

  .bottom-class-link-footer {
    display: block;
    color: #42526E;
    text-align: left;
    padding: 5px;
    text-decoration: none;
    font-size: .875rem;
  }

  .float-left-rightmost {
    background-color: #f4F5F7;
  }
}

@media only screen and (min-width: 110px) and (max-width: 767px){
  .bottom-section-f8 {
    /* margin-top: -50px; */
    clear: both;
    background-color: #f4f5f7;
  }

  .bottom-logo-altassian img {
    padding: 10px 35px;
    float:left;
    width: 200px;
  }

  .four-section-footer {
    float: left;
  }

  .plan-track-support-footer {
    padding-left: 50px;
    background-color: #f4F5F7;
  }

  .class-last {
    width: 100%;
    color: #42526E;
    padding-right: 30px;
  }

  h3.bottom-heading {
    color: #42526E;
    margin-top: 0;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 1.2;
    font-weight: 700;
    padding-right: 10px;
  }
  
  .bottom-class-link {
    display: block;
    color: #42526E;
    text-align: left;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
    padding-right: 80px;
  }

  .bottom-class-link-special {
    display: block;
    color: #0052CC;
    text-align: left;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
  }

  .horizontal-rule {
    clear: both;
    color: black;
    padding-top: 30px;
  }
  
  .end-footer {
    background-color: #f4F5F7;
  }

  .float-left-leftmost {
    float: left;
    width: 80%;
  }

  .float-left {
    float: left;
    width: 115px;
    white-space: nowrap;
  }

  .bottom-class-link-footer {
    display: block;
    color: #42526E;
    text-align: left;
    padding: 5px;
    text-decoration: none;
    font-size: .875rem;
  }

  .float-left-rightmost {
    background-color: #f4F5F7;
  }

}